$text-black: hsl(0, 0%, 16.9%);
$text-dark-grey: hsl(0, 0%, 25.1%);
$grey: hsl(0, 0%, 89.8%);
$medium-grey: #8e8e8e;
$bg-grey: hsl(40, 33.3%, 98.2%);
$blue: hsl(209.7, 84.6%, 54.1%);
$dark-blue: hsl(220.3, 80.2%, 35.7%);
